@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(240, 165, 0);
  color: rgb(219, 219, 219);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.settings-btn {
  position: fixed;
  bottom: 30px;
  left: 30px;
  padding: 3px 10px;
  background-color: rgb(219, 219, 219);
  cursor: pointer;
}

.settings {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: rgba(207, 117, 0, 0.8);
  padding: 20px 0;
  transform: translateY(-100%);
  transition: all 1s ease-in-out;
}

.settings.visible {
  transform: translateY(0%);
}

.entry {
  display: inline;
  margin: 30px;
}

select {
  margin-left: 10px;
  padding: 3px 10px;
  width: 300px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 2px;
}

select:focus,
button:focus {
  outline: 0;
}

.container {
  width: auto;
  min-width: 600px;
  background-color: rgb(207, 117, 0);
  color: rgb(219, 219, 219);
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: 1px solid;
  padding: 5px;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.4);
}

.container h2 {
  padding: 10px;
  background-color: rgb(219, 219, 219);
  color: black;
  width: 90%;
  align-items: center;
  text-align: center;
}

.container .time-container {
  position: absolute;
  top: 80px;
  left: 10px;
}

.container .score-container {
  position: absolute;
  top: 80px;
  right: 10px;
}

.word {
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  /* transition: 1s all ease-out; */
  animation: slide-into 3s ease-out;
}

.word.prev,
.word.next {
  color: rgba(0, 0, 0, 0.2);
  border: none;
}

.word-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  width: 100%;
}

.container input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50%;
  border-radius: 5px;
  outline: none;
}

.time-container span,
.score-container span {
  font-size: 18px;
  font-weight: bold;
}

.end-game-container {
  position: fixed;
  border: 1px solid;
  background: rgb(207, 117, 0);
  height: 300px;
  width: 600px;
  padding: 20px;
  display: none;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.4);
}

.end-game-container.visible {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

.end-game-container.visible button {
  margin-top: 20px;
  padding: 10px;
  align-items: center;
  margin: 30px auto 0;
  font-family: 'Open Sans', sans-serif;
  width: 80%;
  cursor: pointer;
  border-radius: 10px;
  font-size: 20px;
}

@keyframes slide-into {
  0% {
    opacity: 1;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
